<a href="https://colab.research.google.com/github/chaiminwoo0223/Data-Analysis/blob/main/01%20-%20example_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd # 패키지 pandas 로드하기

In [2]:
df = pd.DataFrame({                                 # 데이터 프레임 만들기(학생 점수)
    'name' : ['김지훈','이유진','박동현','김민지'],
    'english' : [90,80,60,70],
    'math' : [50,60,100,20]
})
df

  name  english  math
0  김지훈       90    50
1  이유진       80    60
2  박동현       60   100
3  김민지       70    20

In [3]:
df['english'] # 영어 점수

0    90
1    80
2    60
3    70
Name: english, dtype: int64

In [4]:
sum(df['english']) # 영어 점수 합계

300

In [5]:
sum(df['math']) # 수학 점수 합계

230

In [6]:
sum(df['english']) / 4 # 영어 점수 평균

75.0

In [7]:
sum(df['math']) / 4 # 수학 점수 평균

57.5

In [8]:
# 연습1

In [9]:
df_1 = pd.DataFrame({                # 데이터 프레임 만들기(과일)
    '제품' : ['사과','딸기','수박'],
    '가격' : [1800,1500,3000],
    '판매량' : [24,38,13]
})
df_1

   제품    가격  판매량
0  사과  1800   24
1  딸기  1500   38
2  수박  3000   13

In [10]:
sum(df_1['가격']) / 3 
sum(df_1['판매량']) / 3 #

25.0

In [11]:
sum(df_1['가격']) / 3 # 가격 평균

2100.0

In [12]:
sum(df_1['판매량']) / 3 # 판매량 평균

25.0

In [13]:
avg_1 = sum(df_1['가격']) / 3 # 가격 평균을 avg_1에 할당
avg_2 = sum(df_1['판매량']) / 3 # 판매량 평균을 avg_2에 할당

In [14]:
avg_1, avg_2

(2100.0, 25.0)

In [15]:
# len(데이터)

In [16]:
len(df_1) # df_1의 개수 구하기

3

In [17]:
len(df) # df의 개수 구하기

4

In [18]:
len(df['english']) # 영어 개수 구하기

4

In [19]:
len(df['math']) # 수학 개수 구하기

4

In [20]:
sum(df['english']) / len(df['english']) # 영어 점수 평균

75.0

In [21]:
sum(df['math']) / len(df['math']) # 수학 점수 평균

57.5