<a href="https://colab.research.google.com/github/chaiminwoo0223/Data-Analysis/blob/main/06%20-%20example_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 결측치 만들기
import pandas as pd
import numpy as np
df = pd.DataFrame({'sex'  : ['M','F',np.nan,'M','F'],
                   'score': [5,4,3,4,np.nan]})
df

   sex  score
0    M    5.0
1    F    4.0
2  NaN    3.0
3    M    4.0
4    F    NaN

In [2]:
df['score'] + 1 # NaN: Not a Number

0    6.0
1    5.0
2    4.0
3    5.0
4    NaN
Name: score, dtype: float64

In [3]:
pd.isna(df) # 결측치 확인

     sex  score
0  False  False
1  False  False
2   True  False
3  False  False
4  False   True

In [4]:
pd.isna(df).sum() # 결측치 빈도 확인

sex      1
score    1
dtype: int64

In [5]:
df.dropna(subset = ['score']) # score 결측치 제거

   sex  score
0    M    5.0
1    F    4.0
2  NaN    3.0
3    M    4.0

In [6]:
df_nomiss = df.dropna(subset = ['score']) # score 결측치 제거
df_nomiss['score'] + 1 # score로 연산

0    6.0
1    5.0
2    4.0
3    5.0
Name: score, dtype: float64

In [7]:
df_nomiss = df.dropna(subset = ['score','sex']) # score, sex 결측치 제거
df_nomiss

  sex  score
0   M    5.0
1   F    4.0
3   M    4.0

In [8]:
df_nomiss2 = df.dropna() # 모든 변수에 결측치 제거
df_nomiss2

  sex  score
0   M    5.0
1   F    4.0
3   M    4.0

In [9]:
df['score'].mean()

4.0

In [10]:
df['score'].sum()

16.0

In [11]:
df.groupby('sex').agg(mean_score = ('score','mean'),
                      sum_score  = ('score','sum'))

     mean_score  sum_score
sex
F           4.0        4.0
M           4.5        9.0

In [12]:
exam = pd.read_csv('/content/drive/MyDrive/수업/데이터 분석 입문/강의자료/Data/exam.csv') # 데이터 불러오기
exam.loc[[2,7,14],['math']] = np.nan # 2, 7, 14행의 math에 NaN 할당
exam

    id  nclass  math  english  science
0    1       1  50.0       98       50
1    2       1  60.0       97       60
2    3       1   NaN       86       78
3    4       1  30.0       98       58
4    5       2  25.0       80       65
5    6       2  50.0       89       98
6    7       2  80.0       90       45
7    8       2   NaN       78       25
8    9       3  20.0       98       15
9   10       3  50.0       98       45
10  11       3  65.0       65       65
11  12       3  45.0       85       32
12  13       4  46.0       98       65
13  14       4  48.0       87       12
14  15       4   NaN       56       78
15  16       4  58.0       98       65
16  17       5  65.0       68       98
17  18       5  80.0       78       90
18  19       5  89.0       68       87
19  20       5  78.0       83       58

In [13]:
exam['math'].mean()

55.23529411764706

In [14]:
exam['math'] = exam['math'].fillna(55) # math가 NaN이면 55로 대체
exam

    id  nclass  math  english  science
0    1       1  50.0       98       50
1    2       1  60.0       97       60
2    3       1  55.0       86       78
3    4       1  30.0       98       58
4    5       2  25.0       80       65
5    6       2  50.0       89       98
6    7       2  80.0       90       45
7    8       2  55.0       78       25
8    9       3  20.0       98       15
9   10       3  50.0       98       45
10  11       3  65.0       65       65
11  12       3  45.0       85       32
12  13       4  46.0       98       65
13  14       4  48.0       87       12
14  15       4  55.0       56       78
15  16       4  58.0       98       65
16  17       5  65.0       68       98
17  18       5  80.0       78       90
18  19       5  89.0       68       87
19  20       5  78.0       83       58

In [15]:
exam['math'].isna().sum() # 결측치 빈도 확인

0

In [16]:
# 실습

In [17]:
mpg = pd.read_csv('/content/drive/MyDrive/수업/데이터 분석 입문/강의자료/Data/mpg.csv')
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [18]:
mpg.loc[[64,123,130,152,211],"hwy"] = np.nan # NaN 할당하기

In [19]:
mpg[['drv','hwy']].isna().sum()

drv    0
hwy    5
dtype: int64

In [20]:
mpg.dropna(subset = ['hwy'])\
   .groupby('drv').agg(mean_hwy = ('hwy','mean'))

      mean_hwy
drv
4    19.242424
f    28.200000
r    21.000000