<a href="https://colab.research.google.com/github/chaiminwoo0223/Data-Analysis/blob/main/08%20-%20example_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyreadstat

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns

In [ ]:
# 데이터 불러오기
raw_welfare = pd.read_spss('/content/drive/MyDrive/수업/데이터 분석 입문/강의자료/Data/Koweps_hpwc14_2019_beta2.sav')
# 복사본 만들기
welfare = raw_welfare.copy()

In [ ]:
welfare

In [ ]:
welfare = welfare.rename(
    columns = {'h14_g3' : 'sex',
               'h14_g4' : 'birth',
               'h14_g10' : 'marriage_type',
               'h14_g11' : 'religion',
               'p1402_8aq1' : 'income',
               'h14_eco9' : 'code_job',
               'h14_reg7' : 'code_region'})

In [ ]:
# 성별 항목 이름 부여하기
welfare['sex'] = np.where(welfare['sex'] == 1, 'male', 'female')
# 나이 변수 추가하기
welfare = welfare.assign(age = 2019 - welfare['birth'] + 1)

In [ ]:
# 나이 변수 살펴보기
welfare['age'].head()

In [ ]:
# 연령대 변수 만들기
welfare = welfare.assign(ageg = np.where(welfare['age'] < 30, 'young',
                                         np.where(welfare['age'] <= 59, 'middle', 'old')))
# 빈도 구하기
welfare['ageg'].value_counts()

In [ ]:
sns.countplot(data = welfare, x = 'ageg')

In [ ]:
ageg_income = welfare.dropna(subset = ['income'])\
                     .groupby('ageg', as_index = False)\
                     .agg(mean_income = ('income', 'mean'))
ageg_income # 연령대별 월급 평균표

In [ ]:
sns.barplot(data = ageg_income, x = 'ageg', y = 'mean_income')

In [ ]:
# 빈도 막대 그래프 정렬하기
sns.barplot(data = ageg_income, x = 'ageg', y = 'mean_income', order = ['young', 'middle', 'old'])

In [ ]:
sex_income = welfare.dropna(subset = ['income'])\
                    .groupby(['ageg', 'sex'], as_index = False)\
                    .agg(mean_income = ('income','mean'))
sex_income # 연령대 및 성별 평균표

In [ ]:
sns.barplot(data = sex_income, x = 'ageg', y = 'mean_income', hue = 'sex', order = ['young', 'middle', 'old'])

In [ ]:
sex_age = welfare.dropna(subset = ['income'])\
                 .groupby(['age', 'sex'], as_index = False)\
                 .agg(mean_income = ('income','mean'))
sex_age.head() # 나이 및 성별 월급 평균표

In [ ]:
sns.lineplot(data = sex_age, x = 'age', y = 'mean_income', hue = 'sex')