<a href="https://colab.research.google.com/github/chaiminwoo0223/Data-Analysis/blob/main/ex2_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({
    'name' : ['김지훈','이유진','박동현','김민지'],
    'english' : [90,80,60,70],
    'math' : [50,60,100,20]
})
df

  name  english  math
0  김지훈       90    50
1  이유진       80    60
2  박동현       60   100
3  김민지       70    20

In [3]:
df['english']

0    90
1    80
2    60
3    70
Name: english, dtype: int64

In [4]:
sum(df['english'])

300

In [5]:
sum(df['math'])

230

In [6]:
sum(df['english'])

300

In [7]:
sum(df['english']) / 4

75.0

In [8]:
sum(df['math']) / 4

57.5

In [9]:
df_1 = pd.DataFrame({
    '제품' : ['사과','딸기','수박'],
    '가격' : [1800,1500,3000],
    '판매량' : [24,38,13]
})
df_1

   제품    가격  판매량
0  사과  1800   24
1  딸기  1500   38
2  수박  3000   13

In [10]:
sum(df_1['가격']) / 3
sum(df_1['판매량']) / 3

25.0

In [11]:
sum(df_1['가격']) / 3

2100.0

In [12]:
sum(df_1['판매량']) / 3

25.0

In [13]:
avg_1 = sum(df_1['가격']) / 3
avg_2 = sum(df_1['판매량']) / 3

In [14]:
avg_1, avg_2

(2100.0, 25.0)

In [15]:
len(df_1)

3

In [16]:
len(df)

4

In [17]:
len(df['math'])

4

In [18]:
sum(df['english']) / len(df['english'])

75.0

In [19]:
sum(df['math']) / len(df['math'])

57.5

In [20]:
sum(df['english']) / len(df['english'])

75.0