<a href="https://colab.research.google.com/github/chaiminwoo0223/Data-Analysis/blob/main/ex6_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
# 중간고사 데이터 만들기
test1 = pd.DataFrame({'id'     :[1,2,3,4,5],
                      'midterm':[60,80,70,90,85]})
# 기말고사 데이터 만들기
test2 = pd.DataFrame({'id'     :[1,2,3,4,5],
                      'final':[70,83,65,95,80]})

In [ ]:
test1

In [ ]:
test2

In [ ]:
# id 기준으로 합쳐서 total에 할당
total = pd.merge(test1, test2, how = 'left', on = 'id')
total

In [ ]:
# 선생님 데이터 만들기
name = pd.DataFrame({'nclass':[1,2,3,4,5],
                     'tescher':['kim','lee','park','choi','jung']})
name

In [ ]:
exam = pd.read_csv('/content/drive/MyDrive/수업/데이터 분석 입문/강의자료/Data/exam.csv')
exam

In [ ]:
# nclass 기준으로 합쳐서 exam_now에 할당
exam_now = pd.merge(exam, name, how = 'left',on = 'nclass')
exam_now

In [ ]:
# 학생 1~5번 시험 데이터 만들기
group_a = pd.DataFrame({'id':  [1,2,3,4,5],
                        'test': [60,80,70,90,85]})
# 학생 6~10번 시험 데이터 만들기
group_b = pd.DataFrame({'id':  [1,2,3,4,5],
                        'test':[70,83,65,95,80]})

In [ ]:
group_a

In [ ]:
group_b

In [ ]:
# 데이터 합쳐서 group_all에 할당
group_all = pd.concat([group_a,group_b])
group_all

In [ ]:
# 데이터 합쳐서 group_all에 할당
group_all = pd.concat([group_a,group_b],ignore_index=True)
group_all

In [ ]:
# 실습

In [ ]:
mpg = pd.read_csv('/content/drive/MyDrive/수업/데이터 분석 입문/강의자료/Data/mpg.csv')
mpg