<a href="https://colab.research.google.com/github/chaiminwoo0223/Data-Analysis/blob/main/practice_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
exam = pd.read_csv('/content/drive/MyDrive/수업/데이터 분석 입문/강의자료/Data/midwest.csv')
exam

,PID,county,state,area,poptotal,popdensity,popwhite,popblack,popamerindian,popasian,...,percollege,percprof,poppovertyknown,percpovertyknown,percbelowpoverty,percchildbelowpovert,percadultpoverty,percelderlypoverty,inmetro,category
0,561,ADAMS,IL,0.052,66090,1270.961540,63917,1702,98,249,...,19.631392,4.355859,63628,96.274777,13.151443,18.011717,11.009776,12.443812,0,AAR
1,562,ALEXANDER,IL,0.014,10626,759.000000,7054,3496,19,48,...,11.243308,2.870315,10529,99.087145,32.244278,45.826514,27.385647,25.228976,0,LHR
2,563,BOND,IL,0.022,14991,681.409091,14477,429,35,16,...,17.033819,4.488572,14235,94.956974,12.068844,14.036061,10.852090,12.697410,0,AAR
3,564,BOONE,IL,0.017,30806,1812.117650,29344,127,46,150,...,17.278954,4.197800,30337,98.477569,7.209019,11.179536,5.536013,6.217047,1,ALU
4,565,BROWN,IL,0.018,5836,324.222222,5264,547,14,5,...,14.475999,3.367680,4815,82.505140,13.520249,13.022889,11.143211,19.200000,0,AAR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
432,3048,WAUKESHA,WI,0.034,304715,8962.205880,298313,1096,672,2699,...,35.396784,7.667090,299802,98.387674,3.121060,3.785820,2.590061,4.085479,1,HLU
433,3049,WAUPACA,WI,0.045,46104,1024.533330,45695,22,125,92,...,16.549869,3.138596,44412,96.330036,8.488697,10.071411,6.953799,10.338641,0,AAR
434,3050,WAUSHARA,WI,0.037,19385,523.918919,19094,29,70,43,...,15.064584,2.620907,19163,98.854785,13.786985,20.050708,11.695784,11.804558,0,AAR
435,3051,WINNEBAGO,WI,0.035,140320,4009.142860,136822,697,685,1728,...,24.995504,5.659847,133950,95.460376,8.804031,10.592031,8.660587,6.661094,1,HAU
436,3052,WOOD,WI,0.048,73605,1533.437500,72157,90,481,722,...,21.666382,4.583725,72685,98.750085,8.525831,11.162997,7.375656,7.882918,0,AAR

In [2]:
exam['poptotal']

0       66090
1       10626
2       14991
3       30806
4        5836
        ...
432    304715
433     46104
434     19385
435    140320
436     73605
Name: poptotal, Length: 437, dtype: int64

In [3]:
exam['popadults']

0       43298
1        6724
2        9669
3       19272
4        3979
        ...
432    195837
433     30109
434     13316
435     88960
436     46796
Name: popadults, Length: 437, dtype: int64

In [4]:
exam['poptotal'] - exam['popadults']

0       22792
1        3902
2        5322
3       11534
4        1857
        ...
432    108878
433     15995
434      6069
435     51360
436     26809
Length: 437, dtype: int64

In [5]:
percentage = (exam['poptotal'] - exam['popadults']) / exam['poptotal']
percentage

0      0.344863
1      0.367212
2      0.355013
3      0.374408
4      0.318197
         ...
432    0.357311
433    0.346933
434    0.313077
435    0.366021
436    0.364228
Length: 437, dtype: float64

In [6]:
# 미성년 인구 백분율
exam = exam.assign(pop_minority = percentage * 100)
exam

,PID,county,state,area,poptotal,popdensity,popwhite,popblack,popamerindian,popasian,...,percprof,poppovertyknown,percpovertyknown,percbelowpoverty,percchildbelowpovert,percadultpoverty,percelderlypoverty,inmetro,category,pop_minority
0,561,ADAMS,IL,0.052,66090,1270.961540,63917,1702,98,249,...,4.355859,63628,96.274777,13.151443,18.011717,11.009776,12.443812,0,AAR,34.486307
1,562,ALEXANDER,IL,0.014,10626,759.000000,7054,3496,19,48,...,2.870315,10529,99.087145,32.244278,45.826514,27.385647,25.228976,0,LHR,36.721250
2,563,BOND,IL,0.022,14991,681.409091,14477,429,35,16,...,4.488572,14235,94.956974,12.068844,14.036061,10.852090,12.697410,0,AAR,35.501301
3,564,BOONE,IL,0.017,30806,1812.117650,29344,127,46,150,...,4.197800,30337,98.477569,7.209019,11.179536,5.536013,6.217047,1,ALU,37.440758
4,565,BROWN,IL,0.018,5836,324.222222,5264,547,14,5,...,3.367680,4815,82.505140,13.520249,13.022889,11.143211,19.200000,0,AAR,31.819740
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
432,3048,WAUKESHA,WI,0.034,304715,8962.205880,298313,1096,672,2699,...,7.667090,299802,98.387674,3.121060,3.785820,2.590061,4.085479,1,HLU,35.731093
433,3049,WAUPACA,WI,0.045,46104,1024.533330,45695,22,125,92,...,3.138596,44412,96.330036,8.488697,10.071411,6.953799,10.338641,0,AAR,34.693302
434,3050,WAUSHARA,WI,0.037,19385,523.918919,19094,29,70,43,...,2.620907,19163,98.854785,13.786985,20.050708,11.695784,11.804558,0,AAR,31.307712
435,3051,WINNEBAGO,WI,0.035,140320,4009.142860,136822,697,685,1728,...,5.659847,133950,95.460376,8.804031,10.592031,8.660587,6.661094,1,HAU,36.602052
436,3052,WOOD,WI,0.048,73605,1533.437500,72157,90,481,722,...,4.583725,72685,98.750085,8.525831,11.162997,7.375656,7.882918,0,AAR,36.422797

In [7]:
exam.sort_values('pop_minority',ascending=False) # 미성년 인구 백분율 내림차순 정렬

,PID,county,state,area,poptotal,popdensity,popwhite,popblack,popamerindian,popasian,...,percprof,poppovertyknown,percpovertyknown,percbelowpoverty,percchildbelowpovert,percadultpoverty,percelderlypoverty,inmetro,category,pop_minority
230,1233,ISABELLA,MI,0.034,54624,1606.588240,52212,635,1020,456,...,10.003020,48498,88.785149,24.854633,21.269687,28.479147,13.966294,0,AHR,51.501172
404,3020,MENOMINEE,WI,0.021,3890,185.238095,416,0,3469,0,...,0.520291,3820,98.200514,48.691099,64.308477,43.312464,18.218623,0,LHR,50.591260
281,2013,ATHENS,OH,0.030,59549,1984.966670,56163,1678,167,1374,...,12.044799,51002,85.647114,28.673385,29.258116,31.744281,14.324955,0,AHR,49.320727
247,1250,MECOSTA,MI,0.034,37308,1097.294120,35739,978,258,187,...,7.845304,32627,87.453093,25.068195,25.543614,28.229964,13.168572,0,AHR,49.059183
154,715,MONROE,IN,0.024,108978,4540.750000,102752,2835,216,2713,...,17.201227,93693,85.974233,19.439019,14.346337,22.998998,9.575163,1,HHU,47.358182
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
365,2981,ADAMS,WI,0.041,15682,382.487805,15001,375,125,56,...,2.390578,14534,92.679505,14.435118,22.300831,13.310056,10.186757,0,LAR,27.445479
194,1197,ALCONA,MI,0.041,10145,247.439024,10026,27,56,26,...,3.243757,10040,98.965007,17.250996,27.204503,16.617399,11.506936,0,AAR,27.373090
229,1232,IRON,MI,0.070,13175,188.214286,13028,4,102,32,...,3.283302,12886,97.806452,17.119354,23.324119,14.456165,16.512236,0,AAR,27.180266
265,1268,ROSCOMMON,MI,0.034,19776,581.647059,19597,37,101,23,...,2.812608,19602,99.120146,18.054280,26.037091,17.995797,13.074424,0,AHR,27.007484
235,1238,KEWEENAW,MI,0.020,1701,85.050000,1688,1,4,6,...,3.574204,1696,99.706055,20.577830,21.884498,21.276596,19.024390,0,LHR,24.338624

In [8]:
# 상위 5개 county(지역)의 미성년 인구 백분율
exam.sort_values('pop_minority',ascending=False)\
    .head()\
    [['county','pop_minority']]

        county  pop_minority
230   ISABELLA     51.501172
404  MENOMINEE     50.591260
281     ATHENS     49.320727
247    MECOSTA     49.059183
154     MONROE     47.358182

In [9]:
# 미성년 비율 등급 변수 추가
import numpy as np
exam = exam.assign(grade = np.where(exam['pop_minority'] >= 40,'large',
                           np.where(exam['pop_minority'] >= 30,'middle','small')))
exam

,PID,county,state,area,poptotal,popdensity,popwhite,popblack,popamerindian,popasian,...,poppovertyknown,percpovertyknown,percbelowpoverty,percchildbelowpovert,percadultpoverty,percelderlypoverty,inmetro,category,pop_minority,grade
0,561,ADAMS,IL,0.052,66090,1270.961540,63917,1702,98,249,...,63628,96.274777,13.151443,18.011717,11.009776,12.443812,0,AAR,34.486307,middle
1,562,ALEXANDER,IL,0.014,10626,759.000000,7054,3496,19,48,...,10529,99.087145,32.244278,45.826514,27.385647,25.228976,0,LHR,36.721250,middle
2,563,BOND,IL,0.022,14991,681.409091,14477,429,35,16,...,14235,94.956974,12.068844,14.036061,10.852090,12.697410,0,AAR,35.501301,middle
3,564,BOONE,IL,0.017,30806,1812.117650,29344,127,46,150,...,30337,98.477569,7.209019,11.179536,5.536013,6.217047,1,ALU,37.440758,middle
4,565,BROWN,IL,0.018,5836,324.222222,5264,547,14,5,...,4815,82.505140,13.520249,13.022889,11.143211,19.200000,0,AAR,31.819740,middle
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
432,3048,WAUKESHA,WI,0.034,304715,8962.205880,298313,1096,672,2699,...,299802,98.387674,3.121060,3.785820,2.590061,4.085479,1,HLU,35.731093,middle
433,3049,WAUPACA,WI,0.045,46104,1024.533330,45695,22,125,92,...,44412,96.330036,8.488697,10.071411,6.953799,10.338641,0,AAR,34.693302,middle
434,3050,WAUSHARA,WI,0.037,19385,523.918919,19094,29,70,43,...,19163,98.854785,13.786985,20.050708,11.695784,11.804558,0,AAR,31.307712,middle
435,3051,WINNEBAGO,WI,0.035,140320,4009.142860,136822,697,685,1728,...,133950,95.460376,8.804031,10.592031,8.660587,6.661094,1,HAU,36.602052,middle
436,3052,WOOD,WI,0.048,73605,1533.437500,72157,90,481,722,...,72685,98.750085,8.525831,11.162997,7.375656,7.882918,0,AAR,36.422797,middle

In [10]:
exam.groupby('grade').agg(count = ('grade','count')) # 등급별 빈도

        count
grade
large      32
middle    396
small       9

In [11]:
exam['popasian']

0       249
1        48
2        16
3       150
4         5
       ...
432    2699
433      92
434      43
435    1728
436     722
Name: popasian, Length: 437, dtype: int64

In [12]:
exam['poptotal']

0       66090
1       10626
2       14991
3       30806
4        5836
        ...
432    304715
433     46104
434     19385
435    140320
436     73605
Name: poptotal, Length: 437, dtype: int64

In [13]:
percentage = exam['popasian'] / exam['poptotal']
percentage

0      0.003768
1      0.004517
2      0.001067
3      0.004869
4      0.000857
         ...
432    0.008857
433    0.001995
434    0.002218
435    0.012315
436    0.009809
Length: 437, dtype: float64

In [14]:
# 아시아인 인구 백분율 추가
exam = exam.assign(asian_minority = percentage * 100)
exam

,PID,county,state,area,poptotal,popdensity,popwhite,popblack,popamerindian,popasian,...,percpovertyknown,percbelowpoverty,percchildbelowpovert,percadultpoverty,percelderlypoverty,inmetro,category,pop_minority,grade,asian_minority
0,561,ADAMS,IL,0.052,66090,1270.961540,63917,1702,98,249,...,96.274777,13.151443,18.011717,11.009776,12.443812,0,AAR,34.486307,middle,0.376759
1,562,ALEXANDER,IL,0.014,10626,759.000000,7054,3496,19,48,...,99.087145,32.244278,45.826514,27.385647,25.228976,0,LHR,36.721250,middle,0.451722
2,563,BOND,IL,0.022,14991,681.409091,14477,429,35,16,...,94.956974,12.068844,14.036061,10.852090,12.697410,0,AAR,35.501301,middle,0.106731
3,564,BOONE,IL,0.017,30806,1812.117650,29344,127,46,150,...,98.477569,7.209019,11.179536,5.536013,6.217047,1,ALU,37.440758,middle,0.486918
4,565,BROWN,IL,0.018,5836,324.222222,5264,547,14,5,...,82.505140,13.520249,13.022889,11.143211,19.200000,0,AAR,31.819740,middle,0.085675
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
432,3048,WAUKESHA,WI,0.034,304715,8962.205880,298313,1096,672,2699,...,98.387674,3.121060,3.785820,2.590061,4.085479,1,HLU,35.731093,middle,0.885746
433,3049,WAUPACA,WI,0.045,46104,1024.533330,45695,22,125,92,...,96.330036,8.488697,10.071411,6.953799,10.338641,0,AAR,34.693302,middle,0.199549
434,3050,WAUSHARA,WI,0.037,19385,523.918919,19094,29,70,43,...,98.854785,13.786985,20.050708,11.695784,11.804558,0,AAR,31.307712,middle,0.221821
435,3051,WINNEBAGO,WI,0.035,140320,4009.142860,136822,697,685,1728,...,95.460376,8.804031,10.592031,8.660587,6.661094,1,HAU,36.602052,middle,1.231471
436,3052,WOOD,WI,0.048,73605,1533.437500,72157,90,481,722,...,98.750085,8.525831,11.162997,7.375656,7.882918,0,AAR,36.422797,middle,0.980912

In [15]:
exam.sort_values('asian_minority') # 아시아인 인구 백분율 오름차순 정렬

,PID,county,state,area,poptotal,popdensity,popwhite,popblack,popamerindian,popasian,...,percpovertyknown,percbelowpoverty,percchildbelowpovert,percadultpoverty,percelderlypoverty,inmetro,category,pop_minority,grade,asian_minority
404,3020,MENOMINEE,WI,0.021,3890,185.238095,416,0,3469,0,...,98.200514,48.691099,64.308477,43.312464,18.218623,0,LHR,50.591260,large,0.000000
105,666,BENTON,IN,0.024,9441,393.375000,9389,6,16,1,...,98.506514,8.043011,8.349218,6.842329,10.502283,0,AAR,35.886029,middle,0.010592
109,670,CARROLL,IN,0.022,18809,854.954545,18720,19,22,3,...,98.346536,7.492702,9.383269,5.639806,10.183066,0,AAR,34.919453,middle,0.015950
358,2090,VINTON,OH,0.024,11098,462.416667,11071,4,16,3,...,98.549288,23.607936,31.770833,22.225975,14.917696,0,LHR,37.258966,middle,0.027032
390,3006,IRON,WI,0.047,6153,130.914894,6121,1,25,2,...,97.854705,13.070918,15.646785,12.179042,12.662338,0,AAR,27.726312,small,0.032504
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180,741,TIPPECANOE,IN,0.030,130598,4353.266670,122013,2660,320,4821,...,87.338244,14.381652,10.567515,17.188413,7.864945,1,HAU,47.052788,large,3.691481
15,576,COOK,IL,0.058,5105067,88018.396600,3204947,1317147,10289,188565,...,98.402685,14.198303,22.293497,11.665542,10.825269,1,AAU,35.515146,middle,3.693683
274,1277,WASHTENAW,MI,0.041,282937,6900.902440,236390,31720,1076,11724,...,92.338931,12.162933,10.797816,13.455456,7.174777,1,HAU,40.900625,large,4.143679
9,570,CHAMPAIGN,IL,0.058,173025,2983.189660,146506,16559,331,8033,...,89.544286,15.572437,14.132234,17.562728,8.105017,1,HAU,44.533449,large,4.642682
21,582,DU PAGE,IL,0.020,781666,39083.300000,714905,15462,962,39634,...,98.717483,2.714734,2.945252,2.399064,3.838249,1,HLU,35.737131,middle,5.070452

In [16]:
# 하위 10개 state(주), county(지역), 아시아인 인구 백분율
exam.sort_values('asian_minority').head(10)\
    [['state','county','asian_minority']]

    state     county  asian_minority
404    WI  MENOMINEE        0.000000
105    IN     BENTON        0.010592
109    IN    CARROLL        0.015950
358    OH     VINTON        0.027032
390    WI       IRON        0.032504
85     IL      SCOTT        0.053154
112    IN       CLAY        0.060716
261    MI     OSCODA        0.063759
340    OH      PERRY        0.066546
73     IL      PIATT        0.070749